



<h1>About</h1>

<p>Loftybid.com is an online gambling entertainment website created and designed by Mark Forsythe and Miranda Dickerson. </p>
<p>The way it works is, auctions get started with a countdown of time until they end. It works like a penny auction in that if you're the last bidder when the time runs out you win the auction prize, but the prize works a little bit different, and so do the bids. Instead of a set prize, the prize is all the money everyone else is putting in to try and win that same thing. The cost to bid goes up a penny every time a bid gets placed, raising the stakes while proportionally rasing the reward. </p>